header {
    color: #ffffff;
    border: 5px solid #ff0000;
    background-color: #0066aa;
    text-align: center;
    padding-bottom: 25px;
    margin-bottom: 10px;
}

nav {
    color: #ffffff;
    border: 5px solid #ff0000;
    background-color: #0066aa;
    text-align: center;
}

main {
    font-size: 35px;
    border: 5px solid #000000;
    background-color: #ffffff;
    margin-top: 10px;
    padding-bottom: 300px;
    margin-bottom: 10px;
}

body {
    background-color: #cdf0ff;
    margin-top: 10px;
    margin-right: 250px;
    margin-left: 250px;
}

footer {
    font-size: 20px;
    border: 5px solid #ff0000;
    background-color: #0066aa;
    text-align: center;
    padding-bottom: 10px;
    color: #ffffff;
}